<!DOCTYPE html>
<html>
  <head>
    <title>Pagina de inicio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenidos al Almacen de electrodomesticos</h1>
    <p>Estás viendo la página de inicio, navega a 
      <a href="/login">/login</a>
      para conocer mas al respecto
    </p>
  </body>
</html>
